<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSLocalNetworkUsageDescription</key>
	<string>Dukto needs access to your local network to discover and transfer files with nearby devices.</string>
	<key>NSBonjourServices</key>
	<array>
		<string>_dukto._tcp</string>
	</array>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<true/>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>app.dukto</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>dukto</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
